/* Override browser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
.hidden-heading {
    display: none;
}

/* Header */
header a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

/* Navbar */
.navbar ul {
    list-style-type: none;
    background-color: hsla(0, 0%, 50%, 0.5);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: aqua;
}

.navbar li {
    float: right;
}