@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/* Override browser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
.hidden-heading {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    background-color: #111;
    font-family: 'Libre Baskerville', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 50px;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hero Section */
.enter-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    animation-name: flash;
    animation-duration: 0s;
}

.click-enter {
    display: none;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: -1;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: none;
    /* background-image: url(../images/bg-backup.webp); */
    background-size: contain;
    animation-name: slideInRight;
    animation-duration: 0s;
}

.hero-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, .9);
    background-color: rgb(0, 0, 0);
    padding-bottom: 15rem;
    width: 100%;
    height: 101%;
    font-size: 5rem;
    font-weight: 900;
    mix-blend-mode: multiply;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title a {
    text-decoration: none;
    color: inherit;

}

#title a:visited {
    color: inherit;
}

header h1 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: .10rem;
    margin-top: 1rem;
}

.active {
    border-bottom: 1px solid #a83838;
    background-color: hsla(0, 0%, 50%, 0.02)
}

/* Navbar Section */
nav {
    display: block;
    height: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

label i {
    color: white;
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsla(0, 0%, 50%, 0.1);
    transition: all .3s ease-in-out;
}

/* Navbar Toggle */
#nav-toggle:checked~nav {
    display: block;
    height: 100%;
    opacity: 1;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}

/* Gallery Section */
.container {
    padding: 1em;
    column-count: 3;
    height: 100%;
    width: 100%;
    column-gap: .75em;
    margin-top: -.5rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: .75em;
    opacity: 1;
}

img:hover {
    opacity: .9;
}

main {
    flex: 1 0 auto;
}

.card {
    position: relative;
    transition: all 1s ease-in;
}

.card-image {
    display: block;
    width: 100%;
    height: 100%;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 12%, 0.9);
    opacity: 0;
    transition: 1s ease;
}

.overlay-text {
    font-size: .75rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.overlay-text h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .25rem;
    font-size: 1rem;
}

.price {
    background-color: #a83838;
    padding: .25rem;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
}

.card:hover .card-overlay,
.card:active .card-overlay {
    opacity: 1;
}

/* About section */
#about {
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75rem;
    margin-top: 2rem;
}

#about h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin: 1rem;
    font-size: 1.3rem;
}

#about p {
    text-align: justify;
    padding: .9rem;
    line-height: 1.75rem;
}

#youtube-player iframe {
    width: 100%;
}

/* Contact Section */
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 2rem .5rem 7rem .5rem;
    max-width: 100%;
}

form {
    width: 100%;
}

#contact-form {
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.1);
}

#contact label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.inputbox {
    margin: 1.5rem;
}

.inputbox input,
.inputbox textarea {
    width: calc(100%);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-out;
}

.inputbox input:focus,
.inputbox textarea:focus {
    border-color: #a83838;
}

textarea {
    resize: none;
}

.inputbox input::placeholder,
textarea::placeholder {
    color: hsla(0, 0%, 12%, 0.5);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #a83838;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

#contact .btn:focus {
    background-color: hsla(0, 0%, 12%, 0.5);
    color: hsla(0, 0%, 12%);
}

.address-box {
    color: rgba(255, 255, 255, 0.95);
    background-color: hsla(0, 0%, 20%, 0.99);
    padding: .5rem 1.6rem;
    font-size: .5rem;
    line-height: .85rem;
    position: absolute;
    bottom: 4.75rem;
    left: .6rem;
    z-index: 3;
}

#contact iframe {
    position: absolute;
    bottom: 3.25rem;
    width: 100%;
    height: 10%;
    z-index: 2;
}

/* Footer */
#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#social-networks ul {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: hsl(0, 0%, 12%);
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

#social-networks i:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* Tablets or larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Hero Section */
    .tap-enter {
        display: none;
    }

    .click-enter {
        display: inline;
    }

    /* Navbar Section */
    #navbar>header>h1 {
        margin-top: 2rem;
    }

    .navbar ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navbar li {
        float: right;
    }

    #navbar>header>label>i {
        display: none;
    }

    nav {
        display: block;
        opacity: 1;
        height: 100%;
    }

    /* Gallery Section */
    .container {
        column-count: 3;
        margin-top: 2rem;
    }

    /* About Section */
    #about p {
        padding: .75rem;
        line-height: 1.8rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    #about h2 {
        margin: 2em;
    }

    /* Contact Section */
    #contact {
        margin-top: 5rem;
    }

    #contact-form {
        max-width: 600px;
    }

    .address-box {
        bottom: 5.75rem;
    }
}

@media screen and (min-width: 1024px) {

    /* Hero Section */
    .hero-heading {
        font-size: 10rem;
    }

    /* Header Section */
    header h1 {
        font-size: 200%;
    }

    /* Gallery Section */
    .container {
        column-count: 6;
    }

    .card:hover .card-overlay {
        opacity: 1;
    }

    /* About Section */
    #about p {
        padding-left: 5rem;
        padding-right: 5rem;
        line-height: 2rem;
        font-size: 110%;
    }

    #about h2 {
        margin: 2rem;
        padding-bottom: 1rem;
    }

    /* Contact Section */
    #contact {
        margin: 5rem .5rem 10rem .5rem;
    }

    #contact-form {
        max-width: 700px;
    }
}

@media screen and (min-width: 1440px) {

    /* About Section */
    #about p {
        padding-left: 15rem;
        padding-right: 15rem;
        font-size: 130%;
    }
}

/* Animations */
@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0.2;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
    }
}